<?xml version="1.0"?>
<launch>
    <node pkg="suii_refbox_client" type="suii_refbox_client"
          name="suii_refbox_client" output="screen">

        <param name="remote_refbox" type="bool" value="true"/>
        <!-- <param name="host_name" type="string" value="localhost"/> -->
         <!-- <param name="host_name" type="string" value="192.168.2.171"/> -->
        
        <!-- test refbox -->
        <param name="host_name" type="string" value="192.168.0.103"/>
        <!-- real refbox -->
        <!-- <param name="host_name" type="string" value="192.168.1.15"/> -->

        <!-- refree box port when it is running on remote machine as client -->
        <!-- <param name="public_port" type="int" value="4444"/> -->
         <!-- real refbox -->
         <param name="public_port" type="int" value="5444"/>

        <!-- refree box ports when it is running on same machine as client -->
        <!-- <param name="refbox_send_port" type="int" value="4444"/>
        <param name="refbox_recv_port" type="int" value="4445"/> -->

        <!-- client/team port when refbox is running on remote machine -->
        <!-- <param name="team_port" type="int" value="4475"/> -->
        <!-- real refbox -->
        <param name="team_port" type="int" value="5468"/>

        <!-- client/team port when refbox is running on same machine -->
        <!-- <param name="team_recv_port" type="int" value="4446"/>
        <param name="team_send_port" type="int" value="4447"/> -->

        <!-- robot name -->
        <param name="robot_name" type="string" value="Suii"/>

        <!-- team name specified in refbox configuration --> 
        <param name="team_name" type="string" value="RoboHub-Eindhoven"/>
    </node>
</launch>